
<footer class=" text-center text-lg-start"  style="background-color: rgb(197, 172, 226);">
  <!-- Grid container -->
  <div class=" p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0  ms-5">
          <li  >
            <a href="#!" class="text-dark mt-5" style="text-decoration: none;" routerLink="/home" >HOME </a>
          </li>
          <li>
            <a href="#!" class="text-dark mt-5" style="text-decoration: none;" routerLink="/about"> About</a>
          </li>
          <li>
            <a href="#!" class="text-dark mt-5" style="text-decoration: none;" routerLink="/Contact">Contact</a>
          </li>
          <li>
            <a href="#!" class="text-dark mt-5" style="text-decoration: none;" routerLink="/Menu" >Menu</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0"> Our Address</h5>

        <address style="text-size: 80%">
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0 mt-5">

        <div style="text-align:center">
          <a mat-icon-button class="btn-google-plus" href="http://google.com/+"> <i class="fa-brands fa-google" style="background-color: red; color:white; margin: 5px;"></i> </a>
          <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="> <i class="fa-brands fa-facebook" style="background-color: rgb(4, 0, 255); color:white ; margin: 5px;"></i></a>
          <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"> <i class="fa-brands fa-linkedin" style="background-color: rgb(86, 104, 236); color:white; margin: 5px;"></i></a>
          <a mat-icon-button class="btn-twitter" href="http://twitter.com/"> <i class="fa-brands fa-square-twitter" style="background-color: rgb(169, 156, 241); color:white ; margin: 5px;"></i></a>
          <a mat-icon-button class="btn-youtube" href="http://youtube.com/"> <i class="fa-brands fa-youtube" style="background-color: rgb(230, 39, 39); color:white ; margin: 5px;"></i></a>
          <a mat-icon-button class="btn-mail" href="mailto:"> <i class="fa-solid fa-envelope " style="background-color: rgb(164, 31, 204); color:white ; margin: 5px;"></i></a>
        </div>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" >
    <p>© Copyright 2018 Ristorante Con Fusion</p>

  </div>
  <!-- Copyright -->
</footer>



