<div class="p-4">
  <h6 style="font-family: cursive;"> About Us </h6>
  <hr>
</div>

<div class="row  px-4">
  <div class="col-8">
    <h5 style="font-family: cursive;"> our history </h5>
    <p>
       started in 2010,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime voluptates sunt laborum laboriosam unde magni velit eveniet et accusamus? Quam dolorem nostrum ipsam doloribus eum, odit pariatur totam animi.
   </p>
   <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse corporis inventore natus hic provident.  <span >Porro aliquam ipsam reprehenderit </span> doloremque quam iusto facilis temporibus ex voluptates .
 </p>
  </div>
  <div class="col-4">
    <div class="row ">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title" style="font-family: cursive;">Facts At a Glance </h6>
            <div class="card-text"> started At .
              <p  class="ms-3"> 3 Feb,2012</p>
              <div class="card-text"> Major Stack Holoder
                <p  class="ms-3"> HK FIne Food injc </p>
              </div>
              <div class="card-text"> last year travel
                <p  class="ms-3"> $ 1,507 ,375</p>
            </div>
            <div class="card-text"> Employee
              <p  class="ms-3"> 40</p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
<div class="p-4 m-4 " style="box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


    <b > you better cut the pizza in four pices because iam not hungery engouh to eat six </b> <br>
     <p> --yogi Berroi, the Bit wesam of yoGO Berra , p of pipe division of books</p>

</div>
<div [@expand] >
      <div class="ps-4  d-flex"*ngFor=" let leads of leaders" >
        <div class="mt-4">
          <img  src={{leads.image}} alt={{leads.name}} class="rounded-circle">
        </div>
        <div  class="ms-3 mt-4">

        <h5 class="card-title"> {{ leads.name}}</h5>
        <h5 class="card-title"> {{ leads.abbr}}</h5>
        <b> {{leads.designation}}</b>
        <h6> {{leads.description}}</h6>
      </div>
     </div>
</div>










